<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyPhongKham.Properties.Settings.PhongKhamConnectionString"
            connectionString="Data Source=HENDY;Initial Catalog=PhongKham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>